<br />
<form method="POST" action="/create">

    <p class="lead"><input type="text" class="form-control" id="url" name="url" placeholder="Gib hier die URL ein die du kürzen möchtest."/></p>
    <p class="lead">
    <input type="submit" value="Jetzt kürzen!" class="btn btn-success" />
    </p>
    
</form>