<% include ../partials/header.ejs %>



          <div class="inner cover">
            <h1 class="cover-heading">Dein Link wurde gekürzt!</h1>
              <br />
              <p class="lead">http://gvo9.de?i=<%= url.key %></p>
              <br />
              <p class="lead">Die ursprüngliche Url</p>
              <p class="lead"><%= url.url %></p>
                
              
            
          </div>




<% include ../partials/footer.ejs %>