<% include ../partials/header.ejs %>



          <div class="inner cover">
            <h1 class="cover-heading">Kürze deine Links!</h1>
              
              <% include ../pages/landing/urlForm.ejs %>
            
          </div>




<% include ../partials/footer.ejs %>